extends layout-menu

block content
  .content
    h1 Compra Finalizada
    p Sua compra foi realizada com sucesso! Obrigado por escolher nossa loja.
    p Se precisar de mais alguma coisa, fique à vontade para navegar em nosso site.
    .button-container
      a.pure-button.pure-button-primary(href="/produtos") Voltar para a Home
